.container {
    display: flex;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 61px);
    box-shadow: 0 1px 5px rgb(128, 125, 125);

    flex: 1;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        box-sizing: border-box;

        overflow-y: auto;
        overflow-x: hidden;

        .info {
            animation: slideIn1 0.5s ease-out;
            margin: 10px;
            border-radius: 15px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            background: linear-gradient(to right, var(--theme-background) 0%, color-mix(in srgb, var(--theme-background) 29%, white 71%) 100%);
            display: flex;
        
            .text {
                width: 100%;
                
            }
        
            .pic {
                padding-right: 15px;
                width: 200px;
                height: auto;
                object-fit: cover;
        
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .title {
            margin-left: 20px;
            font-size: 2rem;
            font-weight: 600;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }

        .description {
            margin-left: 20px;
            font-size: 1rem;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }

        .mat-elevation-z4 {
            animation: slideIn1 0.5s ease-out;
            margin: 10px;
            border-radius: 15px;

            .teacher, .student {
                display: flex;
            
                .mota {
                    width: 100%;
                    border-radius: 15px;
                    margin: 10px;
                    background: linear-gradient(to right, var(--theme-background) 0%, color-mix(in srgb, var(--theme-background) 29%, white 71%) 123%);
                }

                .image-slider {
                    text-align: center;
                    position: relative;
                    display: flex;
                    margin: 10px;
                    overflow: hidden;

                    .slider-image {
                        border-radius: 15px;
                        max-width: 100%;
                        max-height: 100%;
                        width: 1850px;
                        height: auto;
                        object-fit: cover;
                    }

                    .prev, .next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    
                    .prev {
                        left: 10px;
                    }
                    
                    .next {
                        right: 10px;
                    }
                }
            }
        }
    }

    .content::-webkit-scrollbar {
        width: 8px;
    }

    .content::-webkit-scrollbar-track {
        display: none;
        background: #f1f1f1;
        border-radius: 10px;
    }

    .content::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        border: 2px solid #f1f1f1;
    }
}

@keyframes slideIn1 {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}