<div class="container">
    <div class="content">
        <div class="info">
            <div class="text">
                <h1 class="title">Hệ thống quản lý lớp học</h1>
                <p class="description">- Hệ thống hỗ trợ quản lý thông tin học sinh và giáo viên một cách hiệu quả.</p>
                <p class="description">- Người dùng có thể dễ dàng theo dõi tiến trình học tập và giảng dạy.</p>
                <p class="description">- Giao diện hệ thống thân thiện với người dùng.</p>
            </div>
            <div class="pic">
                <img src="school.png"/>
            </div>
        </div>
        <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
            <mat-tab (click)="showTeacherImages()" label="Giao diện của Giáo Viên">
                <div class="teacher">
                    <div class="mota">
                        <h1 class="title">Chức năng của giáo viên:</h1>
                        <p class="description">- Tạo lớp học.</p>
                        <p class="description">- Duyệt danh sách nguyện vọng.</p>
                        <p class="description">- Tạo account cho học sinh.</p>
                        <p class="description">- Tạo lịch học.</p>
                        <p class="description">- Điểm danh học sinh (Nhận diện khuôn mặt).</p>
                        <p class="description">- Đăng tải tài liệu môn học.</p>
                        <p class="description">- Đánh giá điểm học sinh.</p>
                        <p class="description">- Tính toán học phí.</p>
                        <p class="description">- Gửi thông báo, thông tin qua email.</p>
                    </div>
                    <div class="image-slider">
                        <app-button class="prev" (click)="prevImage()">&#10094;</app-button>
                        <img [src]="currentTeacherImage" alt="Slider Image" class="slider-image" />
                        <app-button class="next" (click)="nextImage()">&#10095;</app-button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab (click)="showStudentImages()" label="Giao diện của Học Sinh">
                <div class="student">
                    <div class="mota">
                        <h1 class="title">Chức năng của học sinh:</h1>
                        <p class="description">- Đăng ký nguyện vọng học môn học.</p>
                        <p class="description">- Xem lịch học.</p>
                        <p class="description">- Xem điểm.</p>
                        <p class="description">- Xem học phí.</p>
                        <p class="description">- Xem tài liệu.</p>
                        <p class="description">- Thanh toán học phí.</p>
                    </div>
                    <div class="image-slider">
                        <app-button class="prev" (click)="prevImage()">&#10094;</app-button>
                        <img [src]="currentStudentImage" alt="Slider Image" class="slider-image" />
                        <app-button class="next" (click)="nextImage()">&#10095;</app-button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>