<div class="container">
    <div class="content">
        <div class="class_details">
            <div class="header">
                <h3 class="centered-title">Tính học phí</h3>
            </div>

            <div class="table">
                <div class="form-grid">
                    <div class="left" style="padding-top: 20px; padding-right: 10px;">
                        <div class="form-section">
                            <form [formGroup]="formGroup">
                                <div class="icon-grid-1">
                                    <app-icon iconName="classroom"></app-icon>
                                    <mat-form-field class="form-field" appearance="outline"
                                        style="padding-bottom: 2cap;">
                                        <mat-label>Chọn lớp học</mat-label>
                                        <mat-select formControlName="classroomId">
                                            <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                                                #{{ classroom.id }} - {{ classroom.className }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="divider" *ngIf="classDetails && showDetails" [@fadeInOut]></div>

                    <div class="right" *ngIf="classDetails && showDetails" [@fadeInOut]>
                        <div class="class-info" style="padding-top: 20px; padding-right: 10px;">
                            <div class="form-section">
                                <div class="icon-grid-1">
                                    <app-icon iconName="subject"></app-icon>
                                    <mat-form-field appearance="outline" style="padding-bottom: 20x;">
                                        <mat-label>Tên môn học</mat-label>
                                        <input matInput [(ngModel)]="classDetails.subjectName" disabled>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-section">
                                <div class="icon-grid-1">
                                    <app-icon iconName="schedule"></app-icon>
                                    <mat-form-field appearance="outline" style="padding-bottom: 20px;">
                                        <mat-label>Ngày tạo lớp</mat-label>
                                        <input matInput
                                            [ngModel]="classDetails.createdDate | date:'dd/MM/yyyy - HH:mm:ss'"
                                            disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="form-section2" style="padding-right: 10px;">
                            <div class="icon-grid-1">
                                <app-icon iconName="note"></app-icon>
                                <mat-form-field appearance="outline" style="padding-bottom: 20px;">
                                    <mat-label>Ghi chú</mat-label>
                                    <textarea matInput [(ngModel)]="classDetails.note" disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <form [formGroup]="formGroup2" (ngSubmit)="calculateFee()" *ngIf="classDetails && showDetails"
                    [@fadeInOut]>
                    <div class="form-grid3" style="padding-left: 5px; padding-right: 5px;">
                        <app-icon iconName="calculate" style="align-self: center; margin-bottom: 0px;"></app-icon>

                        <div class="form-section">
                            <div class="icon-grid-1">
                                <mat-form-field class="form-field" appearance="outline"
                                    style="padding-bottom: 20px; padding-top: 20px;">
                                    <mat-label>Tháng</mat-label>
                                    <input matInput id="month" formControlName="month" type="number" />
                                    <mat-error
                                        *ngIf="formGroup2.get('month')?.invalid && formGroup2.get('month')?.touched">
                                        Vui lòng nhập tháng từ 1 đến 12.
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-section">
                            <div class="icon-grid-1">
                                <mat-form-field appearance="outline" style="padding-bottom: 20x; padding-top: 20px;">
                                    <mat-label>Năm</mat-label>
                                    <input matInput id="year" formControlName="year" type="number" />
                                    <mat-error
                                        *ngIf="formGroup2.get('year')?.invalid && formGroup2.get('year')?.touched">
                                        Vui lòng năm hợp lệ
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-section">
                            <div class="icon-grid-1">
                                <mat-form-field appearance="outline" style="padding-bottom: 20x; padding-top: 20px;">
                                    <mat-label>Giá mỗi buổi học</mat-label>
                                    <input matInput id="classSessionPrice" formControlName="classSessionPrice"
                                        type="number" />
                                    <mat-error *ngIf="formGroup2.get('classSessionPrice')?.invalid">
                                        Vui lòng nhập giá hợp lệ.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-section" style="align-self: center;">
                            <button mat-raised-button style="background-color: var(--theme-background); color: white;"
                                type="submit" [disabled]="formGroup2.invalid">Tính học phí</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="more-detail">
            <div class="table">
                <div class="header">
                    <div class="icon-grid-1" style="padding-top: 10px">
                        <app-icon iconName="search" style="padding: 10px; margin-bottom: 0px;"></app-icon>
                        <mat-form-field appearance="outline" style="width: 29vw;">
                            <mat-label>Tìm kiếm</mat-label>
                            <input matInput #input1 (input)="applyFilterFee($event)" placeholder="Nhập từ khóa tìm kiếm">
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <table mat-table [dataSource]="dataSourceFee" matSort #sortFee="matSort" matSortActive="id" matSortDirection="asc" class="example-table">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            ID</th>
                        <td mat-cell *matCellDef="let row" style="height: 70px; text-align: center;">{{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Năm học</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.year }}</td>
                    </ng-container>

                    <ng-container matColumnDef="month">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Tháng</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.month }}</td>
                    </ng-container>

                    <ng-container matColumnDef="totalLesson">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Tổng số buổi học</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.totalLesson }}</td>
                    </ng-container>

                    <ng-container matColumnDef="lessonPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Giá một buổi</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.lessonPrice | number:'1.0-0' }}đ</td>
                    </ng-container>

                    <ng-container matColumnDef="feeEstimate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Tổng tiền ước tính</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.feeEstimate | number:'1.0-0' }}đ</td>
                    </ng-container>

                    <ng-container matColumnDef="feeCollected">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Tổng tiền đã thu</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.feeCollected | number:'1.0-0' }}đ</td>
                    </ng-container>

                    <ng-container matColumnDef="feeNotCollected">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Tổng tiền chưa thu</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.feeNotCollected | number:'1.0-0' }}đ</td>
                    </ng-container>

                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 36px">
                            Ngày tạo</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.createdDate | date: 'dd/MM/yyyy, HH:mm:ss' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef
                            style="text-align: center; background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            Chi tiết</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            <button mat-mini-fab (click)="openStudentListDialog(row.id)"
                                style="background-color: var(--theme-background); border-radius: 15%; color: white;">
                                <mat-icon>info</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFee"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFee;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9">Không có dữ liệu</td>
                    </tr>
                </table>

                <mat-paginator #paginatorFee [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #dialogTemplateFeeDetails>
    <div class="dialog-container">
        <div class="header" style="display: flex; justify-content: space-between; align-items: center;">
            <h2 mat-dialog-title style="color: var(--theme-background); font-weight: bold;">
                Chi tiết học phí</h2>

            <div class="icon-grid-1" style="width: 50%;">
                <app-icon iconName="search" style="padding: 10px; margin-bottom: 0px;"></app-icon>
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput #inputFeeDetails (input)="applyFilterFeeDetails($event)" placeholder="Nhập từ khóa tìm kiếm">
                </mat-form-field>
            </div>

            <button mat-icon-button mat-dialog-close style="background-color: rgb(235, 235, 235); margin-right: 15px;">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <hr>

        <div class="detail-schedule" style="padding-top: 10px; padding-right: 10px; padding-left: 10px;">
            <form [formGroup]="formGroup3">
                <div class="form-section">
                    <mat-form-field appearance="outline" style="margin-bottom: 15px">
                        <mat-label>Giá mỗi buổi học</mat-label>
                        <input matInput id="re_classSessionPrice" formControlName="re_classSessionPrice"
                            type="number" />
                        <mat-error *ngIf="formGroup3.get('re_classSessionPrice')?.invalid">
                            Vui lòng nhập giá hợp lệ.
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>

            <div class="form-section">
                <mat-form-field appearance="outline" style="margin-bottom: 15px;">
                    <mat-label>Tháng</mat-label>
                    <input matInput [ngModel]="selectedTutorFee.month" disabled>
                </mat-form-field>
            </div>
    
            <div class="form-section">
                <mat-form-field appearance="outline" style="margin-bottom: 15px;">
                    <mat-label>Năm học</mat-label>
                    <input matInput [ngModel]="selectedTutorFee.year" disabled>
                </mat-form-field>
            </div>
        </div>

        <hr>

        <div class="actions"
            style="display: flex; justify-content: space-between; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
            <div class="calculate">
                <button mat-raised-button [disabled]="!activeBtn" *ngIf="!isEditing" (click)="enableEditing()"
                    style="background-color: var(--theme-background); color: white;"><mat-icon>calculate</mat-icon>
                    Tính lại học phí</button>
                <div *ngIf="isEditing" class="editing-controls">
                    <button mat-raised-button (click)="cancelEditing()"
                        style="background-color: rgb(179, 179, 179); color: white; margin-right: 10px;">
                        Hủy
                    </button>
                    <button mat-raised-button style="background-color: var(--theme-background); color: white;"
                        (click)="reCalculateFee()" [disabled]="formGroup3.invalid" >Tính</button>
                </div>
            </div>
            <div class="editing-controls">
                <button mat-raised-button [disabled]="!activeBtn" (click)="sendEmailTutorFeeToStudent()"
                        style="background-color: cadetblue; color: white; margin-left: 10px;">
                    <mat-icon>email</mat-icon>
                    Gửi email
                </button>
                <button mat-raised-button [disabled]="!activeBtn" (click)="downloadTutorFeeTable()"
                        style="background-color: rgb(0, 175, 0); color: white; margin-left: 10px;">
                    <mat-icon>download</mat-icon>
                    Tải xuống
                </button>
            </div>
        </div>

        <table mat-table [dataSource]="dataSourceFeeDetails" matSort #sortFeeDetails="matSort" style="padding: 10px;" matSortActive="id"
            matSortDirection="asc" class="example-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    ID</th>
                <td mat-cell *matCellDef="let row" style="height: 55px;">{{ row.id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Họ tên</th>
                <td mat-cell *matCellDef="let row">{{ row.studentName }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Email</th>
                <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Số điện thoại</th>
                <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
            </ng-container>

            <ng-container matColumnDef="totalNumberOfClasses">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Tổng số buổi</th>
                <td mat-cell *matCellDef="let row">{{ row.totalNumberOfClasses }}</td>
            </ng-container>

            <ng-container matColumnDef="numberOfClassesAttended">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Số buổi đi học</th>
                <td mat-cell *matCellDef="let row">{{ row.numberOfClassesAttended }}</td>
            </ng-container>

            <ng-container matColumnDef="feeAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Thành tiền</th>
                <td mat-cell *matCellDef="let row">{{ row.feeAmount | number:'1.0-0' }}đ</td>
            </ng-container>

            <ng-container matColumnDef="feeSubmitted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Đã thu</th>
                <td mat-cell *matCellDef="let row">{{ row.feeSubmitted | number:'1.0-0' }}đ</td>
            </ng-container>

            <ng-container matColumnDef="feeNotSubmitted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                    Còn nợ</th>
                <td mat-cell *matCellDef="let row">{{ row.feeNotSubmitted | number:'1.0-0' }}đ</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsFeeDetails"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFeeDetails;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9">Không có dữ liệu</td>
            </tr>
        </table>

        <mat-paginator #paginatorFeeDetails [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</ng-template>

<div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>