<div class="container">
    <div class="content">
        <div class="class_details">
            <div class="header">
                <h3 class="centered-title">Kết quả điểm kiểm tra</h3>
            </div>

            <div class="table">
                <div class="form-grid">
                    <div class="left" style="padding-top: 20px; padding-right: 10px; padding-left: 10px;">
                        <div class="form-section">
                            <form [formGroup]="formGroup">
                                <div class="icon-grid-1">
                                    <app-icon iconName="classroom"></app-icon>
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Chọn lớp học</mat-label>
                                        <mat-select formControlName="classroomId">
                                            <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                                                #{{ classroom.id }} - {{ classroom.className }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>

                        <div class="form-section" *ngIf="classDetails && showDetails" [@fadeInOut]>
                            <div class="icon-grid-1">
                                <app-icon iconName="subject"></app-icon>
                                <mat-form-field appearance="outline">
                                    <mat-label>Tên môn học</mat-label>
                                    <input matInput [(ngModel)]="classDetails.subjectName" disabled>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-section" *ngIf="classDetails && showDetails" [@fadeInOut]>
                            <div class="icon-grid-1">
                                <app-icon iconName="person"></app-icon>
                                <mat-form-field appearance="outline">
                                    <mat-label>Tên giáo viên</mat-label>
                                    <input matInput
                                        [ngModel]="classDetails.teacherName" disabled>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-section" *ngIf="classDetails && showDetails" [@fadeInOut]>
                            <div class="icon-grid-1">
                                <app-icon iconName="note"></app-icon>
                                <mat-form-field appearance="outline">
                                    <mat-label>Ghi chú</mat-label>
                                    <textarea matInput [(ngModel)]="classDetails.note" disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="divider" *ngIf="classDetails && showDetails" [@fadeInOut]></div>

                    <div class="right" *ngIf="classDetails && showDetails" [@fadeInOut]>
                        <div class="class-info" style="justify-self: center; width: 99%;" >
                            <apx-chart *ngIf="chartOptions.series else elseTemplate"
                                [series]="chartOptions.series!" 
                                [chart]="chartOptions.chart!" 
                                [colors]="chartOptions.colors!"
                                [legend]="chartOptions.legend!"
                                [xaxis]="chartOptions.xaxis!" 
                                [yaxis]="chartOptions.yaxis!" 
                                [plotOptions]="chartOptions.plotOptions!">
                            </apx-chart>

                            <ng-template #elseTemplate>
                                <p style="justify-self: center; padding-top: 15px;">Không có dữ liệu</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="more-detail">
            <div class="table">
                <div class="header">
                    <div class="icon-grid-1" style="padding-top: 20px">
                        <app-icon iconName="search" style="padding: 10px; margin-bottom: 0px;"></app-icon>
                        <mat-form-field appearance="outline" style="width: 55vh;">
                            <mat-label>Tìm kiếm</mat-label>
                            <input matInput #input1 (input)="applyFilter1($event)" placeholder="Nhập từ khóa tìm kiếm">
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <table mat-table [dataSource]="dataSource1" matSort #sort1="matSort" matSortActive="id"
                    matSortDirection="asc" class="example-table">
                    <ng-container matColumnDef="examName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 29px;">
                            Tên bài kiểm tra</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.examName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); justify-items: center; padding-left: 29px;">
                            Kết quả điểm kiểm tra
                        </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            {{ row.score }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">Không có dữ liệu</td>
                    </tr>
                </table>

                <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>