<div class="container">
    <div class="content">
        <div class="class_details">
            <div class="header">
                <h3 class="centered-title">Quản lý điểm kiểm tra</h3>
            </div>

            <div class="table">
                <div class="form-grid">
                    <div class="left" style="padding-top: 20px; padding-right: 10px;">
                        <div class="form-section">
                            <form [formGroup]="formGroup">
                                <div class="icon-grid-1">
                                    <app-icon iconName="classroom"></app-icon>
                                    <mat-form-field class="form-field" appearance="outline"
                                        style="padding-bottom: 2cap;">
                                        <mat-label>Chọn lớp học</mat-label>
                                        <mat-select formControlName="classroomId">
                                            <mat-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                                                #{{ classroom.id }} - {{ classroom.className }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="divider" *ngIf="classDetails && showDetails" [@fadeInOut]></div>

                    <div class="right" *ngIf="classDetails && showDetails" [@fadeInOut]>
                        <div class="class-info" style="padding-top: 20px; padding-right: 10px;">
                            <div class="form-section">
                                <div class="icon-grid-1">
                                    <app-icon iconName="subject"></app-icon>
                                    <mat-form-field appearance="outline" style="padding-bottom: 20x;">
                                        <mat-label>Tên môn học</mat-label>
                                        <input matInput [(ngModel)]="classDetails.subjectName" disabled>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-section">
                                <div class="icon-grid-1">
                                    <app-icon iconName="schedule"></app-icon>
                                    <mat-form-field appearance="outline" style="padding-bottom: 20px;">
                                        <mat-label>Ngày tạo lớp</mat-label>
                                        <input matInput
                                            [ngModel]="classDetails.createdDate | date:'dd/MM/yyyy - HH:mm:ss'"
                                            disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="form-section2" style="padding-right: 10px;">
                            <div class="icon-grid-1">
                                <app-icon iconName="note"></app-icon>
                                <mat-form-field appearance="outline" style="padding-bottom: 20px;">
                                    <mat-label>Ghi chú</mat-label>
                                    <textarea matInput [(ngModel)]="classDetails.note" disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="more-detail">
            <div class="table">
                <div class="header">
                    <div class="icon-grid-1" style="padding-top: 10px">
                        <app-icon iconName="search" style="padding: 10px; margin-bottom: 0px;"></app-icon>
                        <mat-form-field appearance="outline" style="width: 55vh;">
                            <mat-label>Tìm kiếm</mat-label>
                            <input matInput #input1 (input)="applyFilter1($event)" placeholder="Nhập từ khóa tìm kiếm">
                        </mat-form-field>
                    </div>
                    <div class="schedule-actions" style="align-content: center; display: flex;">
                        <button mat-raised-button [disabled]="!activeBtn"
                            style="background-color: var(--theme-background); color: white; margin-right: 10px;"
                            (click)="openDialogCreateExam(dialogTemplate)">
                            <mat-icon>add</mat-icon>
                            Tạo đầu điểm
                        </button>

                        <button mat-raised-button [disabled]="!activeBtn"
                            style="background-color: rgb(0, 175, 0); color: white; margin-right: 5px;"
                            (click)="downloadScoreTable()">
                            <mat-icon>download</mat-icon>
                            Bảng điểm
                        </button>
                    </div>
                </div>
                <hr>
                <table mat-table [dataSource]="dataSource1" matSort #sort1="matSort" matSortActive="id"
                    matSortDirection="asc" class="example-table">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            ID</th>
                        <td mat-cell *matCellDef="let row" style="height: 70px;">{{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="examName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            Tên bài kiểm tra</th>
                        <td mat-cell *matCellDef="let row">{{ row.examName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            Ngày tạo</th>
                        <td mat-cell *matCellDef="let row">{{ row.createdDate | date: 'dd/MM/yyyy, HH:mm:ss' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef
                            style="text-align: center; background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            Danh sách điểm</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            <button mat-mini-fab (click)="openStudentListDialog(row.id)"
                                style="background-color: var(--theme-background); border-radius: 15%; color: white;">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="3">Không có dữ liệu</td>
                    </tr>
                </table>

                <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #dialogTemplate>
    <div class="dialog-container">
        <h2 mat-dialog-title style="color: var(--theme-background); font-weight: bold;">Tạo mới đầu điểm kiểm tra</h2>
        <hr>
        <mat-form-field appearance="outline" class="input-field"
            style="width: 92%; padding-top: 15px; padding-bottom: 20px; display: flex; justify-self: center;">
            <mat-label>Tên đầu điểm</mat-label>
            <input matInput [(ngModel)]="examName" name="examName" #examNameCtrl="ngModel"
                placeholder="Nhập tên đầu điểm" required>
            <mat-error *ngIf="examNameCtrl.invalid">Tên đầu điểm không được
                để trống</mat-error>
        </mat-form-field>
        <hr>
        <mat-dialog-actions align="end" class="dialog-footer">
            <button mat-button mat-dialog-close style="background-color: gainsboro;">Hủy</button>
            <button mat-raised-button style="background-color: var(--theme-background); color: white;"
                (click)="submitRequest(examNameCtrl)">Tạo</button>
        </mat-dialog-actions>
    </div>
</ng-template>

<ng-template #dialogTemplate1>
    <div class="dialog-container">
        <div class="header" style="display: flex; justify-content: space-between; align-items: center;">
            <h2 mat-dialog-title style="color: var(--theme-background); font-weight: bold;">
                Danh sách lớp học</h2>

            <div class="icon-grid-1" style="width: 50%;">
                <app-icon iconName="search" style="padding: 10px; margin-bottom: 0px;"></app-icon>
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput #input11 (input)="applyFilter11($event)" placeholder="Nhập từ khóa tìm kiếm">
                </mat-form-field>
            </div>

            <button mat-icon-button mat-dialog-close style="background-color: rgb(235, 235, 235); margin-right: 15px;">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <hr>

        <div class="form-grid">
            <div class="form-section">
                <div class="score-chart" style="padding-top: 10px; padding-right: 10px; padding-left: 10px; justify-self: center; width: 95%;">
                    <apx-chart 
                        [series]="chartOptions.series" 
                        [chart]="chartOptions.chart" 
                        [colors]="chartOptions.colors"
                        [xaxis]="chartOptions.xaxis" 
                        [legend]="chartOptions.legend"
                        [plotOptions]="chartOptions.plotOptions"
                        [yaxis]="chartOptions.yaxis">
                    </apx-chart>
                </div>

                <div class="exam-name" style="justify-self: center;">
                    <mat-form-field appearance="outline">
                        <mat-label>Tên bài kiểm tra</mat-label>
                        <input matInput [(ngModel)]="examDetail.examName" disabled>
                    </mat-form-field>
                </div>
            </div>

            <div class="divider"></div>

            <div class="form-section">
                <div class="actions" style="justify-items: end; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
                    <div class="score" style="align-self: center;">
                        <button mat-raised-button [disabled]="!activeBtn" *ngIf="!isEditing" (click)="enableEditing()"
                            style="background-color: var(--theme-background); color: white;">
                            Chỉnh sửa điểm
                        </button>
                        <div *ngIf="isEditing" class="editing-controls">
                            <button mat-raised-button (click)="saveChanges()"
                                style="background-color: rgb(0, 175, 0); color: white; margin-left: 10px;">
                                Lưu
                            </button>
                            <button mat-raised-button (click)="cancelEditing()"
                                style="background-color: rgb(179, 179, 179); color: white; margin-left: 10px;">
                                Hủy
                            </button>
                        </div>
                    </div>
                </div>
        
                <table mat-table [dataSource]="dataSource11" matSort #sort11="matSort" style="padding: 10px;" matSortActive="id"
                    matSortDirection="asc" class="example-table">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            ID</th>
                        <td mat-cell *matCellDef="let row" style="height: 55px;">{{ row.id }}
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            Email</th>
                        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%);">
                            Họ tên</th>
                        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            style="justify-items: center; background-color: color-mix(in srgb, var(--theme-background) 20%, white 80%); padding-left: 25px;">
                            Điểm
                        </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            <input type="number" [(ngModel)]="row.score" [disabled]="!isEditing" (change)="updateChartData()"
                                style="height: 40px; width: 40px; font-size: 16px;">
                        </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns11"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns11;"></tr>
        
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Không có dữ liệu</td>
                    </tr>
                </table>
        
                <mat-paginator #paginator11 [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</ng-template>