mat-form-field {
    width: 100%;
}

:host ::ng-deep {
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
        border-color: var(--theme-primary) !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mat-mdc-notch-piece {
        border-color: var(--theme-primary) !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
        color: var(--theme-primary) !important;
    }

    // .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
    //     color: var(--theme-primary) !important;
    // }
}