<div class="container">
    <div class="content">
        <h3 class="centered-title">Hệ thống quản lý lớp học</h3>

        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title>Quên mật khẩu</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="forgetPasswordForm">
                    <div class="icon-grid">
                        <app-icon iconName="email"></app-icon>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Nhập email của bạn" />
                            <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('required')">
                                Email là <strong>bắt buộc</strong>
                            </mat-error>
                            <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('email')">
                                Vui lòng nhập đúng định dạng
                            </mat-error>
                        </mat-form-field>
                    </div>
        
                    <div class="login">
                        <app-button [type]="'primary'" [disabled]="!forgetPasswordForm.valid" (click)="onSubmitEmail()"> 
                            Gửi email
                        </app-button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>

<ng-template #dialogTemplate>
    <div class="dialog-container">
        <h2 mat-dialog-title style="color: var(--theme-background); font-weight: bold;">Tạo lại mật khẩu</h2>
        <hr />
        <mat-dialog-content [formGroup]="verifyCodeForm">
            <div class="icon-grid">
                <app-icon iconName="key"></app-icon>
                <mat-form-field appearance="outline">
                    <mat-label>Mã xác thực</mat-label>
                    <input matInput formControlName="code" placeholder="Nhập mã xác thực" />
                    <mat-error *ngIf="verifyCodeForm.get('code')?.hasError('required')">
                        Mã xác thực là <strong>bắt buộc</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="icon-grid">
                <app-icon iconName="lock"></app-icon>

                <mat-form-field appearance="outline" style="margin-bottom: 10px;">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput formControlName="newPassword" placeholder="Điền mật khẩu của bạn"
                        [type]="hide() ? 'password' : 'text'" />
                    <mat-icon class="hide-pass-icon" matSuffix (click)="clickEvent($event)">{{hide() ?
                        'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="verifyCodeForm.get('newPassword')?.hasError('required')">
                        Mật khẩu là <strong>bắt buộc</strong>
                    </mat-error>
                    <mat-error *ngIf="verifyCodeForm.get('newPassword')?.hasError('minlength')">
                        Mật khẩu phải ít nhất 6 ký tự
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="icon-grid">
                <app-icon iconName="lock"></app-icon>

                <mat-form-field appearance="outline" style="margin-bottom: 10px;">
                    <mat-label>Xác nhận mật khẩu</mat-label>
                    <input matInput formControlName="confirmPassword"
                        placeholder="Nhập lại mật khẩu của bạn" [type]="hide() ? 'password' : 'text'"
                        [errorStateMatcher]="matcher" />
                    <mat-icon class="hide-pass-icon" matSuffix (click)="clickEvent($event)">
                        {{hide() ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error>
                        @switch (true) {
                            @case (verifyCodeForm.get('confirmPassword')?.hasError('required')) {
                                Xác nhận mật khẩu là <strong>bắt buộc</strong>
                            }
                            @case (verifyCodeForm.errors?.['mismatch']) {
                                Mật khẩu không trùng khớp
                            }
                        }
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="login">
                <app-button [type]="'primary'" [disabled]="!verifyCodeForm.valid" (click)="onSubmitVerification()">
                    Đổi mật khẩu
                </app-button>
            </div>
        </mat-dialog-content>
    </div>
</ng-template>