<div class="container">
    <div class="content">
        <h4 class="title">Đăng ký môn học / khóa học & giáo viên giảng dạy</h4>
        <mat-stepper [linear]="true" #stepper [animationDuration]="'500'">

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Chọn môn/khóa học</ng-template>

                    <div class="box">
                        <p class="name">Môn học:</p>
                        <mat-form-field class="course" appearance="outline">
                            <mat-label>Môn/Khóa học</mat-label>
                            <mat-select formControlName="courseGroup">
                                <mat-option>-- None --</mat-option>
                                @for (group of courseGroup; track group) {
                                <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                                    @for (course of group.course; track course) {
                                    <mat-option [value]="course.value">{{course.viewValue}}</mat-option>
                                    }
                                </mat-optgroup>
                                }
                            </mat-select>
                            <mat-error>Môn/Khóa học là <strong>bắt buộc</strong></mat-error>
                        </mat-form-field>
                    </div>

                    <div class="btn">
                        <button class="next" mat-button matStepperNext style="color: white;">Tiếp tục</button>
                    </div>
                </form>
            </mat-step>
            
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Chọn giáo viên</ng-template>

                    <div class="box">
                        <p class="name">Giáo viên giảng dạy:</p>
                        <mat-form-field class="teacher" appearance="outline">
                            <mat-label>Giáo viên</mat-label>
                            <mat-select formControlName="teacherGroup">
                                <mat-option>-- None --</mat-option>
                                @for (teacher of teacherGroup; track teacher) {
                                <mat-option [value]="teacher.value">{{teacher.viewValue}}</mat-option>
                                }
                            </mat-select>
                            <mat-error>Giáo viên là <strong>bắt buộc</strong></mat-error>
                        </mat-form-field>
                    </div>

                    <div class="btn">
                        <button class="back" mat-button matStepperPrevious style="color: white; margin-right: 5px;">Quay lại</button>
                        <app-button class="submit">Xác nhận gửi đăng ký</app-button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>