<div class="side-bar-left">
    <div class="side-bar-header" *ngIf="isAdminLoggedIn || isStudentLoggedIn || isTeacherLoggedIn">
        <div class="avatar">
            <img src="1.jpg">
        </div>
        <div class="link_profile">
            <div class="name">
                {{user?.lastName}} {{user?.firstName}} {{user?.surname}}
            </div>
            <div class="email">
                {{user?.email}}
            </div>
        </div>
        <div class="p-relative">
            <span [matMenuTriggerFor]="menu">
                <i class="material-icons left cursor p-absolute">keyboard_arrow_down</i>
            </span>
            <mat-menu #menu="matMenu">
                <button *ngIf="isTeacherLoggedIn" mat-menu-item class="info" [routerLink]="'/teacher/info'">
                    <app-icon [iconName]="'person'"></app-icon>
                    <span>Thông tin cá nhân</span>
                </button>
                <button *ngIf="isStudentLoggedIn" mat-menu-item class="info" [routerLink]="'/student/info'">
                    <app-icon [iconName]="'person'"></app-icon>
                    <span>Thông tin cá nhân</span>
                </button>
                <!-- <button mat-menu-item class="logout" (click)="logout()">
                    <app-icon [iconName]="'input'"></app-icon>
                    <span>Đăng xuất</span>
                </button> -->

                <button mat-menu-item class="logout" (click)="logout()" 
                    [ngStyle]="{'background-color': isHovering ? 'color-mix(in srgb, var(--theme-background) 50%, white 80%)' : 'transparent', 
                    'transition': 'color 0.3s ease, background-color 0.3s ease'}" (mouseenter)="isHovering = true" (mouseleave)="isHovering = false">
                    <app-icon [iconName]="'input'"></app-icon>
                    <span>Đăng xuất</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="side-bar-body">
        <div class="content">
            <div *ngIf="!isAdminLoggedIn && !isStudentLoggedIn && !isTeacherLoggedIn">
                <div *ngFor="let item of client_menuItems" [routerLink]="item.routerLink"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" class="menu-item">

                    <app-icon [iconName]="item.icon"></app-icon>
                    <span>{{ item.label }}</span>
                </div>
            </div>

            <div *ngIf="isAdminLoggedIn">
                <div *ngFor="let item of admin_menuItems" [routerLink]="item.routerLink"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" class="menu-item">

                    <app-icon [iconName]="item.icon"></app-icon>
                    <span>{{ item.label }}</span>
                </div>
            </div>

            <div *ngIf="isTeacherLoggedIn">
                <div *ngFor="let item of teacher_menuItems" [routerLink]="item.routerLink"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" class="menu-item">

                    <app-icon [iconName]="item.icon"></app-icon>
                    <span>{{ item.label }}</span>
                </div>
            </div>

            <div *ngIf="isStudentLoggedIn">
                <div *ngFor="let item of student_menuItems" [routerLink]="item.routerLink"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link" class="menu-item">

                    <app-icon [iconName]="item.icon"></app-icon>
                    <span>{{ item.label }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="side-bar-footer">
        <div class="text">
            <span class="underline-animation" routerLink="/home">Hệ thống quản lý lớp học</span>
        </div>
        <div class="text">
            <span>Phiên bản</span> 1.0.0
        </div>
        <img class="pic" src="ani2-removebg.png">
    </div>
</div>